body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pnlHeader {
    background-color: indianred;
}

#pnlContent {
    background-color: lightyellow;
}

#pnlFooter {
    background-color: indianred;
}
