body {
    /*color: #40a8cc;*/
}

.username {
    font-size: 38px;
    margin-top: 50px;
}

.fullName {
    color: #40a8cc;
    font-size: 16px;
}

.bio {
    text-align: justify;
    text-justify: inter-word;
    float: left;
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #404040;
}

.info {
    height: 100px;
    display: inline-block;
    box-shadow: 2px 1px 6px grey;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    text-align: left;
    padding-right: 0.5%;
    padding-top: 0.5%;
}



.infoEl {
    font-size: 14px;
    float: right;
    color: #40a8cc;
}

.infoMain {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

.pcphoto {
    margin-top: 55px;
    padding: 0px;
    display: inline-block;
}

.profile-photo {
    box-shadow: 2px 0px 3px grey;
    max-height: 200px;
    max-width: 200px;
}

.usp {
    display: inline-block;
}


.editProfile {
    padding-bottom: 40px;
    color: #ccc;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.editProfileChangeSize {
    font-size: 28px;
}

#btnUpload {
    margin-bottom: 10px;
}

#editProfile {
    font-size: 35px;
    font-weight: 100;
}
