body {
    background-color: #e6e6e6;
    color: #003366;
}

@media (min-width: 300px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 300px) {
    .navbar-right {
        float: right !important;
    }
}

.navbar-top-links {
    margin-right: 0;
}

    .navbar-top-links li {
        display: inline-block;
    }

        .navbar-top-links li:last-child {
            margin-right: 15px;
        }

        .navbar-top-links li a {
            padding: 15px;
            min-height: 50px;
        }

.navbar-brand {
    height: 80px;
    padding: 5px 15px;
}

.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #d4d4d4;
}

    .btn-default:hover {
        color: #333;
        background-color: #d1d2de;
        border-color: #ccc;
    }

    .btn-default:active {
        color: #333;
        background-color: #d1d2de;
        border-color: #ccc;
    }

    .btn-default:focus {
        color: #333;
        background-color: #d1d2de;
        border-color: #ccc;
    }
