
body {
    padding-top: 50px;
    background-color: #e6e6e6;
}

@media (min-width: 300px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 300px) {
    .navbar-right {
        float: right !important;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-brand {
    height: 80px;
    padding: 5px 15px;
}

.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #d4d4d4;
}

.btn-default:hover {
    color: #333;
    background-color: #d1d2de;
    border-color: #ccc;
}

.btn-default:active {
    color: #333;
    background-color: #d1d2de;
    border-color: #ccc;
}

.btn-default:focus {
    color: #333;
    background-color: #d1d2de;
    border-color: #ccc;
}

.fit-in-div {
    max-height: 100%;
    max-width: 100%;
}


.input-group {
    margin-bottom: 15px;
}

.row-centered {
    text-align: center;
}


#btnLogin, #btnRegister {
    padding: 10px;
    min-height: 0px;
    margin: 15px 10px 15px 10px;
}

#welcome{

    font-size: 350%;
    margin-top: 19%;
    margin-bottom: 19%;
    margin-left:13%;
}

.categories{

    font-size: 100%;
    padding: 7%;
    text-align:center;
    
}

.title{
   font-size: 165%;
   margin: 1.7%;
}

.separate{
 margin-top: 0.35%;
 margin-bottom: 0.35%;
}


.panel{
    height: 8em;
    width: 20em;
    text-align: center;
    vertical-align: central;
    padding-top: 15%;
    padding-bottom: 15%;
}
